PROJECT_NAME=fastapi

CACHE_EXPIRE_TIME_IN_SECONDS=600


SUPER_USER_MAIL=superuser@gmail.com
SUPER_USER_PASS=superpass

JWT_SECRET=secret

AUTH_SERVICE_HOST=auth-api
AUTH_SERVICE_PORT=8000

DEBUG=False
SECRET_KEY=asdassaassadsasads
ALLOWED_HOSTS=localhost,127.0.0.1

REDIS_HOST=redis
REDIS_PORT=6379


POSTGRES_DB=test
POSTGRES_USER=app
POSTGRES_PASSWORD=1
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
ELASTIC_SCHEME=http


